INPUT_CSV=1.csv
OUTPUT_CSV=2.csv

WB_WBAUID=...
WB_X_WBAAS_TOKEN=...
WB_AUTHORIZATION=...
WB_DEVICE_ID=...
WB_WBX_VALIDATION_KEY=...
WB_WID_SDK_ID_TOKEN=...
WB_ROUTEB=...

WB_X_USERID=0
WB_DEVICEID_HEADER=site_...

REQUEST_DELAY=1.5
MAX_RETRIES=3
REQUEST_TIMEOUT=20