WB_WBAUID=
WB_X_WBAAS_TOKEN=
WB_DEVICE_ID=
GSHEET_FLUSH_EVERY=10
WB_X_USERID=0
WB_DEVICEID_HEADER=site_cad93bae129444c79c22c8b0708bf9c6
USE_GOOGLE_SHEETS=1 

BATCH_SIZE=29
BATCH_PAUSE=10
REQUEST_DELAY=0.6


MAX_RETRIES=4
REQUEST_TIMEOUT=60